@import '@styles/settings.scss';

$transition-speed: 0.4s;

.faq-header {
    margin-top: $header-height;
    background: $default-gradient;
    padding: 50px 0;
    text-align: center;
    color: $text-color-invert;

    & > * {
        margin-left: auto;
        margin-right: auto;
    }

    & > h2 {
        max-width: 640px;
    }

    &-description {
        max-width: 550px;
    }
}

.faq-list {
    margin-top: 65px;
    margin-bottom: 150px;

    &-buttons {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
    }
}

.faq-item {
    border-bottom: 1px solid $border-gray;
    padding: 20px 0;
    transition: all $transition-speed;

    &:first-child {
        border-top: 1px solid $border-gray;
    }

    p {
        margin: 0;
    }

    &-title {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;

        @media (max-width: $between-edge) {
            flex-direction: column;

            svg {
                margin-top: 10px;
            }
        }
    }

    .faq-item-body {
        margin-top: 25px;
        transition: all $transition-speed ease;
        max-width: 900px;
    }

    .faq-button {
        width: 100%;
        padding: 5px;
        margin: -5px;
    }

    .faq-arrow {
        transition: transform $transition-speed;
        width: 26px;
        height: 26px;
        padding: 6px;
        border-radius: 26px;
        background-color: $button-green;
        fill: $text-color-invert;

        &-up {
            transform: rotate(270deg);
        }
        &-down {
            transform: rotate(90deg);
        }
    }
}

.faq-content {
    position: relative;
    overflow: hidden;
}

.faq-bg-decoration {
    position: absolute;
    transition: transform $transition-speed;

    &:first-child {
        top: 0;
        left: 0;
        transform: translate(-40%, -60%);

    }

    &:last-child {
        bottom: 0;
        right: 0;
        transform: translate(40%, 60%);

    }
}