@import "../settings.scss";

.adhd-page {
    margin-top: 50px;
    .block {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 350px;
        gap: 10px;
        grid-template-areas: 
            "bubble head"
            "text head";
        .bubble {
            grid-area: bubble;
            img {
                max-height: 200px;
                float: right;
            }
        }
        .illustration {
            grid-area: head;
            img {
                max-height: 350px;
            }
        }
        .text {
            grid-area: text;
            &>div {
                max-width: 500px;
            }
        }
        &.reverse {
            grid-template-columns: 350px 1fr;
            grid-template-areas: 
            "head bubble"
            "head text";
            .bubble {
                img {
                    float: left;
                }
            }
        }
    }
    .cta {
        border: 5px solid #106a58;
        border-radius: 21px;
        padding: 19px 25px;
        display: block;
        width: 100%;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 19px;
        font-weight: 900;
        color: #106a58;
        margin-top: 70px;
        transition: all 0.3s ease-out;
        background-color: #17cb7f;
        color: white;
        &:hover {
            background-color: #106a58;
            border: 5px solid #17cb7f;
        }
    }
    .lower-block-header {
        margin-top: 50px;
        text-align: center;
        &>h2, &>p {
            margin: 0;
            margin-bottom: 30px;
        }
    }
    .corporate-services-hero-tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin-top: 0;
        &>div {
            max-width: 600px;
            margin: 0 auto;
            background-color: #35ce8d;
            color: black;
            .content {
                color: white;
                ol {
                    margin-top: 0;
                }
                li {
                    color: white;
                }
            }
        }

        h3 {
            letter-spacing: 0px;
            margin: 10px;
        }
        p {
            color: white;
            strong {
                color: black;
            }
        }
    }
    .cta-wrapper {
        margin: 50px 0;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .adhd-page {
        h1 {
            margin: 5px 0;
            line-height: 1.2;
        }
        .button {
            text-align: center;
        }
        .block {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "bubble head"
            "text text"; 
            column-gap: 0;
            &.reverse {
                column-gap: 0;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 
                "head bubble"
                "text text"; 
            }
            .bubble {
                img {
                    width: 100% !important;
                    max-height: unset !important;
                }
            }
            .illustration {
                img {
                    width: 100% !important;
                    max-height: unset !important;
                    margin-top: 38px;
                }
            }
        }
    }
    .corporate-services-hero-tabs {
        grid-template-columns: 1fr !important;
        &>div {
            padding-bottom: 30px;
            a.button {
                position: relative;
                bottom: unset;
                left: unset;
            }
        }
    }
}