@import "../settings.scss";

.contact-page {
    padding-top: 125px;
    position: relative;
    overflow: hidden;
    .contact-hero {
        height: 160px;
    }
    .contact-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        h1 {
            font-size: 52px;
            }
        .address-block {
            padding-top: 30px;
            .address-label {
                font-size: 26px;
                text-transform: uppercase;
                font-style: italic;
                font-weight: 700;
            }
            .address-value {
                font-size: 20px;
                color: #757575;
                line-height: 1;
            }
        }
    }
    .contact-body2 {
        position: relative;
        margin-bottom: 100px;
        .cover {
            position: absolute;
            z-index: 0;
            background-color: white;
            width: 50%;
            left: 50%;
            height: 100%;
            top: 0;
        }
        .container {
            padding-top: 0;
            padding-bottom: 0;
        }
        .grid {
            grid-template-columns: 1fr 1fr;
            display: grid;

        }
    }

    .grecaptcha-badge {
        z-index: 1;
    }

    & > .container {
        margin-bottom: 100px;
    }

    & > svg {
        position: absolute;
        z-index: -1;
    }

    .form-card {
        margin-left: 40px;
        padding: 25px 35px;
        h2 {
            font-size: 33px;
            margin-top: 25px;
            margin-bottom: 20px;
            font-weight: 800;
        }

        @media (max-width: $between-edge) {
            margin-left: 0;
        }
    }

    address {
        font-style: normal;

        p {
            margin: 0;
        }

        .address-block {
            margin-bottom: 8px;
        }

        .address-label {
            font-size: 13px;
        }

        .address-value {
            font-size: 15px;
            color: #757575;
        }
    }

    

    .contact-form {
        height: 100%;

        &-container {
            min-height: 240px;
        }

        label {
            margin-top: 8px;
            display: block;
            font-size: 14px;
        }

        input, textarea {
            border: 1px solid black;
            border-radius: 4px;
            width: 100%;
            font-size: 15px;
            min-height: 30px;
            resize: none;
            padding: 10px;
        }
        input {
            padding-left: 35px;
        }
        .input-wrapper {
            margin-top: 8px;
            position: relative;
            &:after {
                content: "";
                z-index: 1;
                position: absolute;
                left: 3px;
                top: 50%;
                transform: translateY(-50%);
                width: 28px;
                height: 28px;
                background-size: contain;
                background-repeat: no-repeat;
                opacity: 0.5;
            }
        }
        .input-wrapper.name:after {
            background-image: url('/images/icon-person.png');
        }
        .input-wrapper.email:after {
            background-image: url('/images/icon-email.png');
        }
        .input-wrapper.phone:after {
            background-image: url('/images/icon-phone.png');
        }
        textarea {
            margin-top: 8px;
            min-height: 120px;
        }
        .submit-wrapper {
            .button {
                margin-top: 10px;
            }
            text-align: right;
        }
    }
    
    .success-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-height: inherit;
        flex-direction: column;

        .icon {
            height: 100px;
            width: 100px;
            fill: $color2;
        }
        
        .text {
            margin-top: 20px;
        }
    }  
}

@media screen and (max-width: 640px) {
    .contact-page {
        .container {
            margin-bottom: 0;
        }
        .contact-body {
            grid-template-columns: 1fr;
            h1 {
                font-size: 24px;
            }
            .address-block {
                padding-top: 15px;
                .address-label {
                    font-size: 24px;
                }
                .address-value {
                    font-size: 16px;
                }
            }
        }
        .contact-body2 {
            margin-top: 30px;
            .grid {
                grid-template-columns: 1fr;
                .form-card {
                    padding: 0;
                }
            }
            h2 {
                font-size: 24px;
            }
            .animated-video-wrapper, .cover {
                display: none;
            }
        }
    }
}