@import "@styles/settings.scss";

.homepage-hero {
    position: relative;
    overflow: hidden;
    .bg-video-wrapper {
        position: absolute;
        content: "";
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    min-height: 400px;
    h1 {
        font-size: 110px;
        line-height: 1;
        margin-top: 200px;
        margin-bottom: 0;
        color: $title-color;
    }
    h2 {
        font-size: 33px;
        margin-top: 10px;
        max-width: 900px;
        color: $title-color;
        font-style: normal;
        font-weight: 700;
        text-transform: unset;
        letter-spacing: 0;
    }
    .button {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: $desktop-edge) {
    .homepage-hero {
        h1 {
            margin-top: 300px;
            font-size: 90px;
        }
        h2 {
            font-size: 28px;
        }
    }
}

@media screen and (max-width: $between-edge) {
    .homepage-hero {
        h1 {
            font-size: 72px;
        }
        h2 {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: $mobile-edge) {
    .homepage-hero {
        h1 {
            font-size: 38px;
        }
        h2 {
            font-size: 18px;
        }
    }
}

.whatwedo {
    .grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        h2 {
            font-size: 35px;
        }
        ul {
            list-style: none;
            padding-left: 0;
            li {
                padding-left: 40px;
                line-height: 1;
                margin: 32px 0;
                font-weight: 700;
                font-size: 15px;
                font-style: italic;
                position: relative;
                &:before {
                    position: absolute;
                    left: 0;
                    top: calc(50% - 18px);
                    content: "";
                    display: block;
                    width: 35px;
                    height: 35px;
                    transform: scale(0.6) rotate(0);
                    transition: transform 1s ease-out, filter 1s ease-out;
                    background-image: url('/images/asterisk.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    filter: brightness(-100%);
                    -webkit-filter: brightness(-100%);
                }   
                &:hover {
                    &:before {
                        transform: scale(1) rotate(360deg);
                        filter: brightness(100%);
                        -webkit-filter: brightness(100%);
                        }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-edge) {
    .whatwedo {
        .grid {
            grid-template-columns: 1fr;
            h2 {
                font-size: 24px;
                margin-bottom: 0;
            }
        }
    }
}

.courses-preview {
    .container {
        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 20px;
            grid-template-areas: 
                "a1 b1 b1"
                "a1 c1 c1";
            .wrapper {
                position: relative;
                transition: transform 0.4s ease-out;
                &:hover, &:active {
                    transform: translate(12px, -12px);
                    .card:before {
                        transform: translate(-12px, 12px);
                    }
                }
            }
            .card {
                display: grid;
                align-items: center;
                grid-template-columns: 2fr 3fr;
                grid-auto-rows: min-content;
                gap: 20px;
                border: 1px solid black;
                background: white;
                border-radius: 20px;
                padding: 20px;
                position: relative; 
                height: 100%;             
                &:before {
                    content: "";
                    display: block;
                    border-radius: 20px;
                    background: linear-gradient(180deg, #077762 0%, #20a77a 31%, #30B290 55%, #66dddd 100%);
                    -webkit-background: linear-gradient(180deg, #077762 0%, #20a77a 31%, #30B290 55%, #66dddd 100%);
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    transition: transform 0.4s ease-out;
                }
                >img {
                    width: 100%;
                    max-height: 280px;
                    object-fit: contain;
                    object-position: center center;
                }
                >.content {
                    direction: ltr;
                    text-align: left;
                    h3 {
                        margin: 0;
                        font-weight: 700;
                        text-transform: unset;
                        font-style: normal;
                    }
                    p {
                        margin: 5px 0;
                    }
                    >a {
                        color: black;
                        font-weight: 700;
                        transition: color 0.5s ease-out, padding-left 0.5s ease-out;
                        padding-left: 0;
                        &:after {
                            content: " >";
                        }
                        &:hover {
                            color: $color6;
                            padding-left: 10px;
                        }
                    }
                }
            }
            .wrapper:nth-child(1) {
                grid-area: a1;
                .card {
                    grid-template-columns: 1fr;
                }
            }
            .wrapper:nth-child(2) {
                grid-area: b1;
                direction: rtl;
            }
            .wrapper:nth-child(3) {
                grid-area: c1;
            }
        } 
    }
}


@media screen and (max-width: $mobile-edge) {
    .courses-preview {
        .container {
            .cards {
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                grid-template-areas: none;
                & > div {
                    grid-area: initial !important;
                    direction: initial !important;
                    .card {
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
}

.whoweserve {
    margin-bottom: 0;
    .background {
        background-size: cover;
        .grid {
            display: grid;
            grid-template-columns: 45% 55%;
            h3 {
                padding-left: 50px;
                color: black;
                font-size: 26px;

            }
        }
    }
}

@media screen and (max-width: $mobile-edge) {
    .whoweserve {
        .background {
            .container {
                .grid {
                    grid-template-columns: 1fr;
                    h3 {
                        padding-left: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}