@import "../settings.scss";

.landing-cards {
    margin-top: 70px;
    .card {
        margin-top: 50px;
        padding: 20px;
        background-color: #33c785;
        border-radius: 5px;
        box-shadow: 1px 5px 5px rgba(0,0,0,0.2);
        position: relative;
        .top {
            display: grid;
            grid-template-columns: auto 300px;
            gap: 20px;
            .content {
                position: relative;
                h2 {
                    text-transform: none;
                    font-style: normal;
                    font-weight: 800;
                    letter-spacing: 0;
                    margin-top: 0;
                    margin-bottom: 5px;
                }
                p {
                    margin-top: 2px;
                    margin-bottom: 0;
                    font-size: 19px;
                    .label {
                        font-weight: 800;
                    }
                }
                .buttons {
                    a {
                        display: inline-block;
                        margin-left: 6px;
                        padding: 10px 14px !important;
                        margin-bottom: 0;
                    }
                    .price {
                        transform: translateX(-20px);
                        display: inline-block;
                        font-size: 19px;
                        background-color: white;
                        border-top-right-radius: 50px;
                        border-bottom-right-radius: 50px;
                        padding: 10px 15px;
                        .label {
                            font-weight: 800;
                        }
                    }
                }
            }
            .image {
                border-radius: 3px;
                position: relative;
                overflow: hidden;
                padding: 0;
                height: 100%;
                &:after {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: #23e392;
                    background: linear-gradient(90deg, #23e392 0%, #434343 60%);
                    mix-blend-mode: color;
                }
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: grayscale(1);
                }
            }
        }
        .w-collapse {
            margin-top: 20px;
            background: transparent;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 500;
            .w-collapse-item {
                transition: 0.5s background-color ease-out;
                &.w-collapse-active {
                    background-color: white;
                }
            }
            .w-collapse-panel:before {
                display: none;
            }
            .w-collapse-header {
                display: none;
                border: none;
            }
        }
    }
}

@media screen and (max-width: 810px) {
    .landing-cards {
        margin-top: 70px;
        .card {
            margin-top: 50px;
            padding: 20px;
            background-color: #33c785;
            border-radius: 5px;
            box-shadow: 1px 5px 5px rgba(0,0,0,0.2);
            position: relative;
            .top {
                display: grid;
                grid-template-columns: 1fr;
                gap: 20px;
                .image {
                    grid-row: 1;
                    img {
                        max-height: 150px;
                    }
                }
                .content {
                    grid-row: 2;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .landing-cards {
        .buttons {
            a {
               margin-top: 15px; 
            }
            .price {
                display: block !important;
                margin-top: 15px;
            }
        }
    }
}
