@import 'settings.scss';

.animated-video-wrapper {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    .bg-video-wrapper {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}