@import 'settings.scss';

.hero-default {
    background: $default-gradient;
    padding: 100px 0 40px 0;
    h1, p {
        text-align: center;
        color: white;
        max-width: 500px;
        margin: 0 auto;
    }
}