@import "settings.scss";

.header {
    background: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: $header-height;

    .header-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 25px;
    }

    .desktop {
        display: grid;
        height: $header-height;
        margin-right: -15px;
        grid-template-columns: minmax(10px, max-content) auto minmax(120px, max-content) 32px 0;
        gap: 10px;
        justify-items: center;
        align-items: center;
        .logo {
            display: grid;
        }
    }
    a.search {
        svg {
            transition: $default-transition;
            fill: $text-color;
        }
        &:hover {
            svg {
                fill: $hover-green;
            }
        }
    }
    .language-switcher {
        font-size: 13px;
        font-weight: 600;
        white-space: nowrap;
        a.lang {
            color: $border-gray;
            padding: 0 6px;
            &:hover, &:active {
                color: black;
            }
        }
    }
    .button {
        padding: 8px 18px;
    }
}

#primaryMenu {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    
    .l1-link {
        display: inline-block;
    }

    li {
        a {
            cursor: pointer;
            color: $text-color;
            transition: 0.3s color ease-out;
        }
        &:hover {
            > a {
                color: $hover-green;
            }
        }
    }
    & > li {
        cursor: pointer;
        display: inline-block;
        position: relative;
        
        .header-link {
            padding: 8px 15px;
            text-decoration: none;
        }

        &.current:after {
            content: "";
            display: none;
            position: absolute;
            left: 0;
            bottom: 10%;
            width: 40px;
            height: 2px;
            background: $text-color;
        }
    }
    & > li.hasChildren {
        position: relative;
        transition: color 0.5s ease-out;
        &:after {
            content: "";
            position: absolute;
            right: 1px;
            top: calc(50% - 3px);
            width: 8px;
            height: 8px;
            background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 8 8' style='enable-background:new 0 0 8 8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2353BD8A;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='4.1,6.4 0.2,2.6 0.9,1.9 4.1,5.1 7.1,2.1 7.8,2.7 '/%3E%3C/svg%3E");
            filter: brightness(-100%);
            transition: filter 0.5s ease-out, transform 0.5s ease-out;
        }
        &:hover {
            color: $color2;
            &:after {
                filter: brightness(100%);
            }
        &.open:after {
            transform: rotateX(180deg);
        }
        }
        .ul-wrapper {
            position: absolute;
            overflow: hidden;
            z-index: 999;
            left: 15px;
            top: 100%;
            border-radius: 6px;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
            background-color: white;
            line-height: 1.6;
            transition: 0.5s max-height ease-out, 0.5s max-width ease-out;
            pointer-events: none;
            & > ul {
                padding: 15px;
                width: min-content;
                & li {
                    list-style: none;
                    & > a {
                        white-space: nowrap;
                        line-height: 2;
                    }
                }
            }
        }
    }
    & > li.hasChildren.open > .ul-wrapper {
        display: block;
        pointer-events: all;
    }
}

#mobileMenu {
    position: fixed;
    left: 0;
    top: 0;
    background: $hover-green;
    width: calc(100vw - #{$header-height});
    max-width: 0;
    transition: max-width 0.5s ease-out;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 3px 3px 21px rgb(0 0 0 / 40%);
    border-bottom-right-radius: 20px;
    & ul {
        margin: 0;
        padding: 0;
        &.l1 {
            width: calc(100vw - 140px);
            margin: 20px;
            margin-bottom: 50px;
            &>li {
                border-top: 1px solid #72ddaf;
                padding: 10px 0;
                text-transform: uppercase;
                &>a {
                    color: white;
                    font-weight: 800;
                }
            }
        }
        &.l2 {
            padding: 15px 0 15px 15px;
            &>li {
                padding: 10px 0;
                //border-top: 1px solid #eee;
                &>a {
                    color: $text-color;
                    font-size: 16px;
                }
            }
        }
    }
    & li {
        list-style: none;
    }
    & a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        color: $button-green;
    }
}


@media (max-width: $desktop-edge) {
    .header {
        .desktop {
            grid-template-columns: minmax(10px, max-content) auto minmax(120px, max-content) 32px 50px;
            .logo {
                min-width: 40px;
            }
            #primaryMenu {
                display: none;
            }
        }
    }
}

#menuToggle {
    //margin-left: 10px;
    display: none;
    position: relative;
    user-select: none;
    input {
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
        &:checked ~ span {
            opacity: 1;
            height: 2px;
            background: #232323;
            &:nth-last-child(4) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
            &:nth-last-child(3) {
                transform: rotate(-45deg) translate(0, 0px);
            }
            &:nth-last-child(2) {
                transform: rotate(45deg) translate(-6px, -6px);
            }
        }
    }
    span {
        display: block;
        width: 30px;
        height: 2px;
        margin-bottom: 7px;
        position: relative;
        background: $text-color;
        border-radius: 10px;
        z-index: 1;
        transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        &:first-child {
            transform-origin: 0% 0%;
        }
        &:nth-last-child(4) {
            transform-origin: 0% 50%;
        }
    }
    &>input[type="checkbox"]:checked ~ #mobileMenu {
        max-width: 100vw;
    }
}

@media (max-width: $desktop-edge) {
    #menuToggle {
        display: block;
    }
}
