@import 'settings.scss';

.header {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 90px;
    .desktop {
        display: grid;
        height: 90px;
        grid-template-columns: minmax(10px, max-content) auto 40px 120px 32px;
        gap: 10px;
        justify-items: center;
        align-items: center;
        .logo {
            display: grid;
            
        }
    }
    a.search{
        svg {
            transition: $default-transition;
            fill: $text-color;
        }
        &:hover {
            svg {
                fill: $hover-green;
            }
        }
    }
    .lang {
        img {
            transition: $default-transition;
        }
        &:hover {
            img {
                border-radius: 20px;
                box-shadow: 0 0 5px $hover-green;
            }
        }
    }
}

#primaryMenu {
    li {
        a {
            color: $text-color;
            transition: 0.3s color ease-out;
            font-weight: 600;
        }
        &:hover {
            > a {
                color: $hover-green;
            }
        }
    }
    &>li {
        display: inline-block;
        position: relative;
        a {
            padding: 8px 15px;
            text-decoration: none;
        }

        &.current:after {
            content: "";
            display: none;
            position: absolute;
            left: 0;
            bottom: 10%;
            width: 40px;
            height: 2px;
            background: $text-color;
        } 
    }
    & > li.hasChildren {
        position: relative;
        ul.l2 {
            position: absolute;
            z-index: 999;
            left: 15px;
            top: 100%;
            padding: 15px;
            border: 1px solid $border-green;
            border-radius: 10px;
            background-color: white;
            line-height: 1.6;
            opacity: 0;
            transition: 0.6s opacity ease-out;
            pointer-events: none;
            & > li {
                list-style: none;
                & > a {
                    white-space: nowrap;
                }
            }
        }
    }
    & > li.hasChildren:hover > ul.l2,
    & > li.hasChildren:active > ul.l2 {
        display: block;
        opacity: 1;
        pointer-events: all;
    }
}