@import 'colors.scss';

.homepage-hero {
    position: relative;
    overflow: hidden;
    .illustration {
        width: 600px;
        height: 600px;
        position: absolute;
        z-index: -1;
        right: 0;
        top: 0;
        img {
            width: 100%;
            height: 100%;
            border-radius: 600px;
            transform: translate(60px,-60px);
            box-shadow: -30px 30px 40px #68CA9258;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            opacity: 38%;
            width: 107%;
            height: 107%;
            left: 60px;
            top: -60px;
            z-index: -2;
            background: rgb(7,119,98);
            background: linear-gradient(90deg, rgba(7,119,98,1) 0%, rgba(32,167,122,1) 31%, rgba(48,178,144,1) 55%, rgba(102,221,221,1) 100%);
            border-radius: 500px;
        }
    }
    .container { 
        .content {
            display: grid;
            min-height: 640px;
            grid-template-columns: 60% auto;
            align-items: center;
            &>div {
                max-width: 450px;
            }
        }
        .learn-more {
            position: absolute;
            left: 0;
            bottom: 40px;
            padding-left: 25px;
            a {
                color: $button-green;
                text-decoration: none;
                font-weight: 700;
                display: flex;
                align-items: center;
                svg {
                    color: $text-color;
                    padding: 6px;
                    background-color: white;
                    box-shadow: 0px 3px 6px #00000029;
                    border-radius: 50px;
                    transition: $default-transition;
                }
                &:hover {
                    svg {
                        background-color: $hover-green;
                        color: white;
                    }
                }
            }
        }
    }
    #bg-el1 {
        display: block;
        width: 250px;
        height: 250px;
        position: absolute;
        z-index: -2;
        opacity: 0.5;
        left: -60px;
        bottom: -100px;
        background-image: url("/images/hero-elements/4.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    #bg-el3 {
        display: block;
        width: 80px;
        height: 80px;
        position: absolute;
        z-index: -2;
        opacity: 1;
        left: 40%;
        top: 100px;
        background-image: url("/images/hero-elements/3.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    #bg-el4 {
        display: block;
        width: 160px;
        height: 160px;
        position: absolute;
        z-index: -2;
        opacity: 0.7;
        left: -80px;
        top: 40px;
        background-image: url("/images/hero-elements/1.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}