@import 'colors.scss';

.stats {
    background: linear-gradient(99deg, #077762 0%, #20A77A 31%, #30B290 55%, #66DDDD 100%) 0% 0% no-repeat padding-box;
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        padding: 60px 0;
        h2 {
            font-size: 40px;
            line-height: 1;
            color: white;
            margin: 0;
        }
        h5 {
            font-size: 20px;
            color: white;
            margin: 0;
        }
    }
}

.whatwedo {
    position: relative;
    overflow: hidden;
    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        &>div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .illustration {
            padding: 50px 0;
            img {
            width: 100%;
            max-width: 400px;
            max-height: 400px;
            height: 100%;
            object-fit: contain;
            }
        }
    }
    .content {
        ul {
            padding-left: 0;
            counter-reset: wwd-counter;
            li {
                counter-increment: wwd-counter;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                min-height: 46px;
                list-style: none;
                padding-left: 46px;
                position: relative;
                &:after {
                    content: counter(wwd-counter);
                    position: absolute;
                    left: 17px;
                    top: 12px;
                    z-index: 2;
                    line-height: 1;
                    font-size: 14px;
                    font-weight: 700;
                }
                &:before {
                    content: ""; 
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 40px;
                    height: 40px;
                }
                &:nth-child(2n-1):before {
                    background-image: url("/images/li-bg1.png");
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
                &:nth-child(2n):before {
                    background-image: url("/images/li-bg2.png");
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                }

            }
        }
    }
    .bgel3 {
        display: block;
        width: 80px;
        height: 80px;
        position: absolute;
        z-index: -2;
        opacity: 1;
        left: -30px;
        top: 40px;
        background-image: url("/images/hero-elements/3.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .bgel4 {
        display: block;
        width: 160px;
        height: 160px;
        position: absolute;
        z-index: -2;
        opacity: 0.7;
        right: -50px;
        top: -30px;
        background-image: url("/images/hero-elements/1.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.coursesPreview {
    position: relative;
    padding-bottom: 50px;
    .localHeader {
        h2, p, div {
            text-align: center;
        }
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        .card {
            .icon {
                display: block;
                max-height: 50px;
                transition: $default-transition;
                color: $hover-green;
                fill: $hover-green;
            }
            h3 {
                margin-top:0;
            }
            margin: 0 20px;
            padding: 20px;
            background-color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom: 3px solid $hover-green;
            box-shadow: 7px 7px 30px rgba(32,167,122,0.2);
            transition: $default-transition;
            .animation-spacer {
                height: 50px;
                max-height:0;
                transition: $default-transition;
            }
        }
        .card:hover {
            background-color: $button-green;
            color: white;
            .icon {
                max-height: 0;
            }
            .animation-spacer {
                max-height:50px;
            }
        }
    }
    .bgel1 {
        display: block;
        width: 200px;
        height: 200px;
        position: absolute;
        z-index: -2;
        opacity: 0.7;
        left: -50px;
        bottom: 70px;
        background-image: url("/images/hero-elements/1.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.whoweserve {
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
    &:after {
        position: absolute;
        z-index: -3;
        content: "";
        display: block;
        width: 100%;
        height: 50%;
        left: 0;
        top: 50%;
        background: linear-gradient(99deg, #077762 0%, #20A77A 31%, #30B290 55%, #66DDDD 100%) 0% 0% no-repeat padding-box;
    }
    h2 {
        text-align: center;
        &:after {
            content: "";
            display: block;
            width: 100px;
            height: 4px;
            border-radius:100px;
            margin: 10px auto;
            background-color: $button-green;
        }
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        & div.circle {
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            width: 200px;
            height: 200px;
            border-radius: 100%;
            border: 4px solid white;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
            color: white;
            h3 {
                text-align: center;
                max-width: 150px;
                display: block;
                margin: 0 auto;

            }
        }
    }
    .bgel3 {
        display: block;
        width: 80px;
        height: 80px;
        position: absolute;
        z-index: -4;
        opacity: 1;
        right: -30px;
        top: 40%;
        background-image: url("/images/hero-elements/3.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .bgel4 {
        display: block;
        width: 200px;
        height: 200px;
        position: absolute;
        z-index: -2;
        opacity: 0.7;
        left: -80px;
        bottom: -80px;
        background-image: url("/images/hero-elements/1.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}