.homepage-hero {
    .illustration {
        .video-wrapper {
            position: absolute;
            width: 107%;
            height:107%;
            left: 43px;
            top: -70px;
            clip-path: circle(46% at center);
            background-color: white;
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center bottom;
                &::-webkit-media-controls-panel {
                    background-image: linear-gradient(transparent, transparent) !important;
                  }
            }
        }
    }
    .container {
        .content {
            align-items: initial !important;
            .wrapper {
                padding-top: 210px !important;
                h1 {
                    color: #20A77A !important;
                }
                button {
                    cursor: pointer !important;
                    font-size: 16px;
                    color: #333;
                    font-family: "Nunito", Helvetica, Arial, sans-serif;
                    padding-left: 0;
                    &:hover, &:active {
                        color: #20A77A !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .homepage-hero {
        .container {
            .content {
                align-items: initial !important;  
                padding-top: 450px !important;
                .wrapper {
                    padding-top: 50px !important;
                    padding-bottom: 0 !important;
                }
            }
        }
    }
    #featured.container {
        padding-top: 30px !important;
    }
}

@media screen and (max-width: 576px) {
    .homepage-hero {
        .illustration {
            width: 508px !important;
            height: 508px !important;
            .video-wrapper {
                left: 46px;
                top: -37px;
            }
        }
    }
}