$color1: #077762;
$color2: #20a77a;
$color3: #30B290;
$color4: #66dddd;
$color5: #E6EBEC;
$color6: #35CE8D;
$color7: #86cdb5;
$color8: #057761;

$text-color: #333;
$text-color-invert: white;
$button-green: $color2;
$hover-green: $color6;
$background-tint: $color5;
$border-green: $color7;

$default-transition: all 0.3s ease-out;
$default-gradient: transparent linear-gradient(106deg, $color1 0%, $color2 31%, $color3 55%, $color4 100%) 0% 0% no-repeat padding-box;


$mobile-edge: 500px;
$between-edge: 750px;
$desktop-edge: 1000px;

@media (max-width: $mobile-edge) {
    .hide-on-mobile {
        display: none !important;
    }
}

@media (min-width: ($mobile-edge + 1px)) {
    .hide-off-mobile {
        display: none !important;
    }
}

@media (min-width: $desktop-edge+1px) {
    .hide-on-desktop {
        display: none !important;
    }
}

@media (max-width: ($desktop-edge)) {
    .hide-off-desktop {
        display: none !important;
    }
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h1.centered, h2.centered {
    text-align: center;
}

h1.underline, h2.underline {
    &:after {
        content: "";
        display: block;
        width: 50%;
        max-width: 70px;
        height: 4px;
        background-color: $button-green;
        border-radius: 10px;
    }
    &.centered {
        &:after {
            margin: 10px auto 0 auto;
        }
    }
}

