@import "settings.scss";
@import url("../assets/fonts/nunito.css");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import "slick-carousel/slick/slick-theme.css";
@import "slick-carousel/slick/slick.css";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    color: $text-color;
    font-size: 16px;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", "Helvetica Round", "Varela Round", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    line-height: 1.2;
    &.inverted {
        color: white;
    }
    &.explicit::after {
        content: "!";
    }
    &.withdot::after {
        content: ".";
        color: $color6;
    }
}

section {
    margin-top: 60px;
    margin-bottom: 30px;
    & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
        &::after {
            content: ".";
            color: $color6;
        }
    }
}



h1 {
    letter-spacing: -2px;
}
h2 {
    letter-spacing: -1.7px;
}
h3 {
    letter-spacing: -0.8px;
}
h4 {
    letter-spacing: -0.6px;
}
h5 {
    letter-spacing: -0.4px;
}
h6 {
    letter-spacing: -0.3px;
}

li {
    line-height: 1.5;
}

ul {
    padding-left: 20px;
}

a {
    color: $button-green;
    text-decoration: none;
    &:hover {
        color: $hover-green;
    }
}

button {
    border: 0;
    background: transparent;
}

.link {
    color: $button-green;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
    &:hover {
        color: $hover-green;
    }
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 18px 25px;
}

.button {
    cursor: pointer;
    display: inline-block;
    padding: 14px 28px;
    margin: 5px 0;
    border-radius: 50px;
    border: 2px solid $button-green;
    //box-shadow: 0px 0px 0px 1px $button-green;
    background-color: $button-green;
    color: $text-color-invert;
    transition: $default-transition;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    &:hover:not(:disabled) {
        background-color: transparent;
        //box-shadow: 0px 0px 0px 2px $button-green;
        color: $button-green;
    }

    &:disabled {
        background-color: $color7;
    }
}

.button.lite {
    border: 2px solid $button-green;
    color: $button-green;
    background-color: white;
    &:hover {
        border-color: $hover-green;
        background-color: $hover-green;
        color: white;
    }
}

.button.black {
    border: 2px solid black;
    color: white;
    background: black;
    box-shadow: none;
    &:hover, &:active {
        box-shadow: none;
        color: black;
    }
}

.button.black.inverted {
    border: 2px solid black;
    color: black;
    background: transparent;
    box-shadow: none;
    &:hover, &:active {
        box-shadow: none;
        color: white;
        background: black;
    }
}

h2.typical {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 30px;
    &:after {
        content: "";
        display: block;
        width: 60px;
        height: 4px;
        border-radius: 100px;
        margin: 10px auto;
        background-color: $button-green;
    }
}

.spacer-top {
    background-color: white;
    width: 100%;
    height: 90px;
}

@media (max-width: $mobile-edge) {
    .hide-on-mobile {
        display: none !important;
    }
}

@media (min-width: ($mobile-edge + 1px)) {
    .hide-off-mobile {
        display: none !important;
    }
}

@media (min-width: ($desktop-edge + 1px)) {
    .hide-on-desktop {
        display: none !important;
    }
}

@media (max-width: ($desktop-edge)) {
    .hide-off-desktop {
        display: none !important;
    }
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h1.centered,
h2.centered {
    text-align: center;
}


.testimonials {
    background-size: cover;
    .container {
        padding-left: 15px;
        padding-right: 15px;
        .slick-slider {
            padding-bottom: 50px;
        }
    }
    .slick-track {
        display: flex !important;
    }
    .slick-slide{
        height: inherit !important;
        > div {
            height: 100%;
        }
    }
    .slick-arrow {
        position: absolute;
        right: 15px;
        left: auto;
        top: auto;
        bottom: 0;
        width: 36px;
        height: 36px;
        border: 1px solid $color6;
        border-radius: 5px;
        &.slick-prev {
            right: 60px;
            &:before {
                display: block;
                width: 28px;
                margin-left: 2px;
                opacity: 1;
                content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:%2335CE8D%3B%7D%3C/style%3E%3Cpath class='st0' d='M4.5 12c0-0.6 0.4-1 1-1H20c0.6 0 1 0.4 1 1s-0.4 1-1 1H5.5C4.9 13 4.5 12.6 4.5 12z'/%3E%3Cpath class='st0' d='M10.8 18.7l-6-6c-0.4-0.4-0.4-1 0-1.4l6-6c0.4-0.4 1-0.4 1.4 0s0.4 1 0 1.4L6.9 12l5.3 5.3c0.4 0.4 0.4 1 0 1.4C12 18.9 11.8 19 11.5 19S11 18.9 10.8 18.7z'/%3E%3C/svg%3E");
            }
        }
        &.slick-next {
            &:before {
                display: block;
                width: 28px;
                margin-left: 2px;
                opacity: 1;
                content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:none%3Bstroke:%2335CE8D%3Bstroke-width:2%3Bstroke-linecap:round%3Bstroke-linejoin:round%3B%7D%3C/style%3E%3Cline class='st0' x1='5.5' y1='12' x2='20' y2='12'/%3E%3Cpolyline class='st0' points='14 6 20 12 14 18 '/%3E%3C/svg%3E");
            }
        }
    &:hover, &:active {
        border-color: white;
        &.slick-prev:before {
            content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Cpath class='st0' d='M4.5 12c0-0.6 0.4-1 1-1H20c0.6 0 1 0.4 1 1s-0.4 1-1 1H5.5C4.9 13 4.5 12.6 4.5 12z'/%3E%3Cpath class='st0' d='M10.8 18.7l-6-6c-0.4-0.4-0.4-1 0-1.4l6-6c0.4-0.4 1-0.4 1.4 0s0.4 1 0 1.4L6.9 12l5.3 5.3c0.4 0.4 0.4 1 0 1.4C12 18.9 11.8 19 11.5 19S11 18.9 10.8 18.7z'/%3E%3C/svg%3E");
        }
        &.slick-next:before {
            content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:none%3Bstroke:%23FFFFFF%3Bstroke-width:2%3Bstroke-linecap:round%3Bstroke-linejoin:round%3B%7D%3C/style%3E%3Cline class='st0' x1='5.5' y1='12' x2='20' y2='12'/%3E%3Cpolyline class='st0' points='14 6 20 12 14 18 '/%3E%3C/svg%3E");
        }
    }
    }
    .card-wrapper {
        height: 100%;
        padding: 20px;
        padding-bottom: 40px;
    }
    .card {
        height: 100%;
        background-color: white;
        padding: 20px;
        padding-bottom: 75px;
        position: relative;
        border-radius: 16px;
        box-shadow: 0px 5px 24px rgba(53, 206, 141, 0);
        transition: transform 0.4s ease-out, box-shadow 0.4s ease-out;
        .content {
            p {
                margin-top: 0;
            }
            font-weight: 700;
        }
        .author {
            position: absolute;
            left: 20px;
            bottom: 20px;
            .name {
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 0;
            }
            .position {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        &:hover {
            transform: translateY(-15px);
            box-shadow: 0px 5px 24px rgba(53, 206, 141, 1);
        }
    }
}

.letstalk {
    h2 {
        margin-bottom: 0;
    }
    .form-wrapper {
        padding: 20px;
        border-radius: 20px;
        border: 1px solid black;
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            .illustration {
                min-height: 160px;
                background-image: url('/images/letstalk.png');
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }
            label, input[type=text], input[type=email], input[type=phone], textarea {
                display: block;
                width: 100%;
            }
            label {
                margin-top: 5px;
                font-size: 12px;
            }
            .input-wrapper {
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    left: 3px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 28px;
                    height: 28px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-color: red;
                    opacity: 0.5;
                }
            }
            .input-wrapper.name:after {
                background-image: url('/images/icon-person.png');
            }
            .input-wrapper.email:after {
                background-image: url('/images/icon-email.png');
            }
            .input-wrapper.phone:after {
                background-image: url('/images/icon-phone.png');
            }

            input[type=text], input[type=email], input[type=phone] {
                height: 35px;
                padding-left: 40px;
            }
            textarea {
                height: 148px;
            }
        }
        .submit-button {
            padding-top: 10px;
            text-align: right;
            button {
                cursor: pointer;
            }
        }
        .grid-success {
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;
            gap: 20px;
            .illustration {
                min-height: 160px;
                background-image: url('/images/letstalk.png');
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }
            .content {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: $mobile-edge) {
    .letstalk {
        .form-wrapper {
            .grid {
                grid-template-columns: 1fr;
            }
        }
    }
}



.stats {
    background-color: black;
    background-size: cover;
    .container {
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            > div {
                text-align: center;
            }
            h2 {
                color: $color9;
                font-size: 40px;
                letter-spacing: 4px;
                font-style: normal;
                font-weight: 800;
                margin-bottom: 10px;
            }
            h3 {
                margin-top: 4px;
                margin-bottom: 30px;
                color: white;
                letter-spacing: 0;
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: $mobile-edge) {
    .stats {
        .container {
            .grid {
                grid-template-columns: 1fr;
            }
        }
    }
}

.animated-video-wrapper {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    .bg-video-wrapper {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}