@import '@styles/settings.scss';


.corporate-services-hero-wrapper {
    background: transparent;    
}
.corporate-services-hero {
    width: 100%;
    background: transparent linear-gradient(106deg, $color1 0%, $color2 31%, $color3 55%, $color4 100%) 0% 0% no-repeat padding-box;
    color: white;
    padding: 100px 0; 
    h1 {
        color: white;
        text-align: center;
    }
    p {
        text-align: center;
        max-width: 550px;
        margin: 0 auto;
    }
}

.corporate-services-hero-tabs {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    &>div {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 20px;
        padding: 30px;
        padding-bottom: 80px;
        position: relative;
        &>.tab-header {
            display: grid;
            gap: 20px;
            grid-template-columns: 60px auto;
            align-items: center;
            img {
                object-fit: contain;
                object-position: center;
            }
        }
        p {
            margin: 3px 0;
        }
        a.button {
            position: absolute;
            bottom: 20px;
            left: 30px;
        }
    }
    margin-top: -80px;
}

@media (max-width: $mobile-edge) {
    .corporate-services-hero-wrapper {
        background: transparent linear-gradient(106deg, $color1 0%, $color2 31%, $color3 55%, $color4 100%) 0% 0% no-repeat padding-box;
        .corporate-services-hero {
            background: transparent;
        }
        .corporate-services-hero-tabs {
            grid-template-columns: 1fr;
            grid-auto-rows: 1fr;
        }
    }
}


.trainings {
    padding-bottom: 30px;
    &>ul {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(3,1fr);
        padding-left: 0;
        &>li {
            padding: 10px;
            padding-left: 40px;
            display: block;
            border-radius: 10px;
            transition: $default-transition;
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 15px;
                height: 15px;
                box-shadow: 0px 3px 6px #43434355;
                border-radius: 32px;
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                background-color: white;
            }
            &.active {
                color: $button-green;
                &:hover {
                    color: $button-green;
                    background-color:white;
                }
                &:before {
                    background-color: $button-green;
                }
            }
            &:hover {
                background-color: $hover-green;
                color: white;
                cursor: pointer;
            }
        }
    }
    .preview {
        display: none;
        background-color: white;
        box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        grid-template-columns: minmax(30%, 200px) auto;
        &>.image>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        &>.content {
            padding: 20px;
        }
        &.selected {
            display: grid;
        }
    }
}

@media (max-width: $mobile-edge) {
    .trainings {
        &>ul {
            grid-template-columns: 1fr;
        }
        .preview {
            grid-template-columns: 1fr;
            grid-template-rows: 350px auto;
            &>.image>img {
                border-bottom-left-radius: 0;
                border-top-right-radius: 20px;
            }
        }
    }
}

