@import "@styles/settings.scss";

.corporate-services-hero {
    h1 {
        font-size: 35px;
        text-align: center;
    }
}

.corporate-services-hero-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    &.french {
        grid-template-columns: 1fr;
        max-width: 600px;
        margin: 0 auto;
    }
    &>div {
        background-color: #35ce8d;
        border-radius: 20px;
        padding: 20px;
        .tab-header {
            display: grid;
            grid-template-columns: min-content auto;
            gap: 10px;
            align-items: center;
        }
        h3 {
            font-size: 22px;
            text-transform: unset;
            font-weight: 800;
            font-style: normal;
        }
        p {
            color: white;
            strong {
                color: black;
                font-weight: 800;
            } 
        }
        div {
            a {
                color: black;
                font-weight: 900;
                text-decoration: underline;
                transition: color 0.3s ease-out;
                cursor: pointer;
                &:hover, &:active {
                    color: white;
                }
            }   
        }
    }
}

.trainings {
    h2 {
        font-size: 35px;
    }
    .unfold-list {
        .unfold-item {
            border-top: 1px solid #c5c5c5;
            padding-top: 10px;
            padding-bottom: 10px;
            .unfold-button {
                width: 100%;
                .unfold-item-title {
                    position: relative;
                    width: 100%;
                    padding-left: 25px;
                    padding-right: 20px;
                    text-align: left;
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: unset;
                    font-style: normal;
                    letter-spacing: 0;
                    &:before {
                        position: absolute;
                        left: 0;
                        top: 0;
                        content: ".";
                        font-size: 48px;
                        font-weight: 900;
                        line-height: 0;
                        transition: color 1s ease-out;
                    }
                    &.open:before {
                        color: #35ce8d;
                    }
                    .unfold-arrow {
                        position: absolute;
                        right: 0;
                        top: 6px;
                        width: 14px;
                        height: 14px;
                        transform: rotate(-90deg);
                        transition: transform 1s ease-out;
                        &.unfold-arrow-up {
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        .unfold-item-body {
            margin-left: 28px;
            p {
                margin-top: 3px;
                margin-bottom: 0;
            }
        }
        }
    }
}
