@import '@styles/settings.scss'; 

.courses {
    .filters {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .quick_filter {
        display: block;
        width: 100%;
        max-width: 400px;
        margin: 30px auto 0 auto;
        input {
            width: 100%;
            padding: 10px 30px;
            font-size: 20px;
            border: none;
            border-bottom: 1px solid $color6;
            border-radius: 0;
            transition: border-radius 0.5s ease-out, background-color 0.5s ease-out;
            &:focus {
                outline:none;
                border-radius: 100px;
                background-color: #eee;
            }
        }
    }
    .content {
        margin-top: 50px;
        .courseblocks {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            .courseblock {
                height: 100%;
                box-shadow: 0px 3px 10px #0000000D;
                padding: 10px;
                border-radius: 8px;
                color: black;
                padding-bottom: 75px;
                position: relative;
                font-size: 14px;
                .categorisation {
                    font-size: 12px;
                    font-weight: 600;
                    margin: 0;
                    opacity: 0.4;

                }
                p {
                    margin-top: 7px;
                    margin-bottom: 0;
                }
                .icon {
                    color: $color6;
                    margin: 3px;
                }
                &:hover, &:active {
                    background-color: $color6;
                    .icon {
                        color: white;
                    }
                    .txt {
                        color: white;
                    }
                }
                .lb1 {
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                    line-height: 1;
                    svg {
                        vertical-align: -5px;
                    }
                }
                .lb2 {
                    position: absolute;
                    left: 10px;
                    bottom: 31px;
                    svg {
                        vertical-align: -5px;
                    }
                }
                .lb3 {
                    position: absolute;
                    left: 12px;
                    bottom: 51px;
                }
                h3 {
                    font-size: 18px;
                    font-weight: 600;
                    margin: 0;
                    text-transform: unset;
                    font-style: normal;
                    letter-spacing: -0.5px;
                }
                .txt {
                    font-weight: 700;
                    font-size: 13px;
                    display: inline;
                    color: $color6;
                    border-radius: 100px;
                }
                .video {
                    margin-left: 4px;
                    vertical-align: -5px; 
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .courses {
        .filters {
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;
        }
        .content {
            .courseblocks {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media screen and (max-width: 428px) {
    .courses {
        .filters {
            grid-template-columns: repeat(1, 1fr);
        }
        .content {
            .courseblocks {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}