@import '../../settings.scss';


.professional-training-page {
    section {
        margin-top: 50px;
        > h2:after {
            margin-top: 10px;
            content: "";
            display: block;
            width: 60px;
            height: 5px;
            background-color: #20A77A;
            border-radius: 10px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    position: relative;
    padding-top: 125px;
    overflow: hidden;
    
    & > svg {
        position: absolute;
        z-index: -1;
    }

    .dual-column {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 20px;
        &>div:first-child {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
    }

    .hero-description {
        padding: 0 20px;
        a.button {
            margin-left: auto;
            margin-right: auto;

        }
    }

    .professions {
        div {
            text-align: center;
        }
        .professions-list {
            .profession {
                display: inline-block;
                padding: 15px;
                margin: 7px;
                border: 1px solid #20A77A;
                border-top-right-radius: 24px;
                border-bottom-left-radius: 24px;
                font-weight: 700;
            }
        }
    }

    .skills {
        .skills-block {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-top: 40px;
            border-radius: 20px;
            background-color: white;
            box-shadow: 0px 3px 6px #00000029;
            &.true {
                grid-auto-flow: dense;
                .image {
                    grid-column-start: 2;
                }
                .content {
                    padding-left: 40px;
                }
            }
            .image {
                img {
                    border-radius: 20px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .content {
                h2, h3 {
                    color: #20a77a;
                }
                padding: 20px;
            }
        }
    }

    .eligibility {
        text-align: center;
        margin-bottom: 60px;
    }

    .bg-1 {
        top: 0;
        left: -90px;
    }

    .bg-2 {
        top: 2300px;
        left: 30px;
    }
    
    .bg-3 {
        top: 693px;
        left: 281px;
    }

    .bg-4 {
        top: 690px;
        right: -130px;
    }

    .bg-5 {
        top: 1520px;
        right: 50px;
    }
    
    .bg-6 {
        top: 1661px;
        left: -146px;
    }
}

@media (max-width: $mobile-edge) {
    .professional-training-page {
        .dual-column {
            grid-template-columns: 1fr;
        }
    }
    .skills {
        .skills-block {
            grid-template-columns: 1fr !important;
            &.true {
                grid-auto-flow:initial !important;
                .image {
                    grid-column-start: 1 !important;
                }
                .content {
                    padding-left: 20px !important;
                }
            }
        }
    }
}